.img1 {
     display: block;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img2 {width: 50%;
     display: block;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img3 {width: 50%;
     display: block;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.live {
    	font-family: impact;
    	color: white;
    	text-align:center; 

	}
.live1 { margin-left: 40%;
            margin-right: 40%;
    	font-family: impact;
    	color: pink;
    	text-align: center; 

	}
body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-dark.png");
}

a:active {
  color: #e0a2f7;
}
.live1 {
margin-top: 2px;
margin-left: 47%;
  margin-right: 53%;
  font-size: 16px;
	text-align: center;
}

p {font-family: impact;
    	color: white;
    	text-align:center;} 
h1 {
font-size: 24px ;
}
.full { margin-left: 5%;
    margin-right: 5%;
}
.boxy {
width: 10%;	
margin-left: auto;
    margin-right: auto;	
}
